{% extends 'base.html' %}
{% block body %}

<h2>{{ the_title}}</h2>

<form action="/search4" method="post">
    <table>
        <p>Use this form to subit a search request</p>
        <tr>
            <td>Phrase:</td>
            <td><input type="text" name="phrase" id="" width="60"></td>
        </tr>
        <tr>
            <td>Letters</td>
            <td><input type="text" name="letters" id="" value="aeiou"></td>
        </tr>
    </table>
    <p>When you're ready, click this button</p>
    <p><input type="submit" value="Do It!"></p>
</form>

{% endblock %}